body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.color-changing-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.connected {
    background-color: #4CAF50; /* Couleur lorsque connecté */
    color: #fff; /* Couleur du texte lorsque connecté */
}

.not-connected {
    background-color: #f44336; /* Couleur lorsque non connecté */
    color: #fff; /* Couleur du texte lorsque non connecté */
}

.logout-btn {
    padding: 10px;
    margin-left: 10px;
    background-color: #f44336; /* Couleur du bouton de déconnexion */
    color: #fff; /* Couleur du texte du bouton de déconnexion */
    cursor: pointer;
}
